In [1]:
#Question 2
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest, f_classif

In [2]:
data = {"Category": ["A","B","A","B"],
           "Sales" : [100, 150, 80 , 120],
        "Age" : [25, 40, 35, 28],
        "Customer": [10, 15, 8, 12],
       }
df = pd.DataFrame(data)
df

  Category  Sales  Age  Customer
0        A    100   25        10
1        B    150   40        15
2        A     80   35         8
3        B    120   28        12

In [3]:
#Aggregation
df_aggreated = df.groupby('Category')['Sales'].sum()
df_aggreated

Category
A    180
B    270
Name: Sales, dtype: int64

In [4]:
#Feature Creation
df["Sales_per_Person"] = df["Sales"]/df["Customer"]
print("Sales per person is given: ")
print(df["Sales_per_Person"])

Sales per person is given:
0    10.0
1    10.0
2    10.0
3    10.0
Name: Sales_per_Person, dtype: float64

In [5]:
#Binarization
df["Binary Age"] = (df["Age"]>30).astype(int)
print("Binary Age")
print(df)

Binary Age
  Category  Sales  Age  Customer  Sales_per_Person  Binary Age
0        A    100   25        10              10.0           0
1        B    150   40        15              10.0           1
2        A     80   35         8              10.0           1
3        B    120   28        12              10.0           0

In [6]:
#Sampling
sample_df = df.sample(frac = 0.3, random_state = 42)
# sample_df = df.sample(2, random_state = 42)

sample_df

  Category  Sales  Age  Customer  Sales_per_Person  Binary Age
1        B    150   40        15              10.0           1

In [7]:
#Variable transformation
ages = [23,45,67,98,23,49]
#Tranforming the variable in squre root
transform_ages = [age**0.5 for age in ages]
df["Age"] = df["Age"]**2
df

  Category  Sales   Age  Customer  Sales_per_Person  Binary Age
0        A    100   625        10              10.0           0
1        B    150  1600        15              10.0           1
2        A     80  1225         8              10.0           1
3        B    120   784        12              10.0           0

In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Create the dataset
data = {
    "Category": ["A", "B", "A", "B"],
    "Sales": [100, 150, 80, 120],
    "Age": [25, 40, 35, 28],
    "Customer": [10, 15, 8, 12],
}
df = pd.DataFrame(data)

# Separate numerical columns for scaling
numerical_columns = ["Sales", "Age", "Customer"]
numerical_data = df[numerical_columns]
print(numerical_data)

# Standardization
scaler_standard = StandardScaler()
scaled_standard = scaler_standard.fit_transform(numerical_data)
df_standardized = pd.DataFrame(scaled_standard, columns=numerical_columns)

# Normalization
scaler_minmax = MinMaxScaler()
scaled_minmax = scaler_minmax.fit_transform(numerical_data)
df_normalized = pd.DataFrame(scaled_minmax, columns=numerical_columns)

print("Standardized Data:")
print(df_standardized)

print("\nNormalized Data:")
print(df_normalized)

   Sales  Age  Customer
0    100   25        10
1    150   40        15
2     80   35         8
3    120   28        12
Standardized Data:
      Sales       Age  Customer
0 -0.483368 -1.191759 -0.483368
1  1.450105  1.362010  1.450105
2 -1.256757  0.510754 -1.256757
3  0.290021 -0.681005  0.290021

Normalized Data:
      Sales       Age  Customer
0  0.285714  0.000000  0.285714
1  1.000000  1.000000  1.000000
2  0.000000  0.666667  0.000000
3  0.571429  0.200000  0.571429